N8N_HOST=n8n.lowkey.su
N8N_PORT=5678
N8N_PROTOCOL=https
N8N_EDITOR_BASE_URL=https://n8n.lowkey.su
WEBHOOK_URL=https://n8n.lowkey.su/
N8N_ENCRYPTION_KEY=change-me
NODE_ENV=production
N8N_ENFORCE_SETTINGS_FILE_PERMISSIONS=true
N8N_RUNNERS_ENABLED=true
N8N_DIAGNOSTICS_ENABLED=false
N8N_PERSONALIZATION_ENABLED=false
NODE_FUNCTION_ALLOW_BUILTIN=*
NODE_FUNCTION_ALLOW_EXTERNAL=axios,lodash,dayjs,moment,uuid,zod,cheerio
GENERIC_TIMEZONE=Asia/Yekaterinburg
TZ=Asia/Yekaterinburg
N8N_BASIC_AUTH_ACTIVE=false
N8N_BASIC_AUTH_USER=
N8N_BASIC_AUTH_PASSWORD=
